<div class="flex justify-between items-center mb-3">
    <div class="">
        <p class="text-5xl font-bold">
            {{ header }}
        </p>
    </div>
    <div class="lg:w-1/6">
        <a routerLink="home" class="rounded-sm  px-2 py-1 links">home</a>
        <a routerLink="contact" class="rounded-sm  px-2 py-1 links">contact</a>
        <a routerLink="profile" class="rounded-sm  px-2 py-1 links">profile</a>
    </div>
</div>
<div class="w-full rounded-md bg-gray-500 py-5">
    <!-- <fa-icon [icon]="faPlus"></fa-icon> -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
</div>
